# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
do-*.sh
/build/
/debug/
/release/
leacoin-qt
src/leacoind

# NetBeans project directory
nbproject
nbproject/*

# VS Code
.vscode
